
<!DOCTYPE html>

<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/theme/assets/"
      data-template="vertical-menu-template-no-customizer-starter">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>MAKROKOD - Hair Transplant CRM</title>

    <meta name="description" content="" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/theme/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/theme/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="/theme/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="/theme/assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="/theme/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/theme/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


    <script src="/theme/assets/vendor/js/helpers.js"></script>
    <script src="/theme/assets/js/config.js"></script>

    <style>
        ul.dtr-details {
            width: 100%;
        }
    </style>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/dashboard/index" class="app-brand-link">
                        <span class="app-brand-logo demo">

                            @* LOGO *@

                        </span>
                        <span class="app-brand-text demo menu-text fw-bold">HT CRM</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                        <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Page -->
                    <li class="menu-item">
                        <a href="/Personal/Index" class="menu-link">
                            @*   <i class="menu-icon tf-icons ti ti-smart-home"></i> *@
                            <div>Personeller</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/Patient/Index" class="menu-link">

                            <div>Hastalar</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/Offer/Index" class="menu-link">
                            <div>Teklifler</div>
                        </a>
                    </li>
                    <li class="menu-item" style="">
                        <a class="menu-link menu-toggle">
                            <div>Tanımlar</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Definitions/ChronicProblems" class="menu-link">
                                    <div>Kronik Hastalıklar</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Definitions/InfectiousDisease" class="menu-link">
                                    <div>Bulaşıcı Hastalıklar</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Definitions/ReminderDate" class="menu-link">
                                    <div>Görsel Periyodu</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Definitions/Scope" class="menu-link">
                                    <div>Branşlar</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Definitions/Technique" class="menu-link">
                                    <div>Teknikler</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>

            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="ti ti-menu-2 ti-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="/theme/assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="/theme/assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-medium d-block">Barış AYDIN</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/login/Logout">
                                            <i class="ti ti-logout me-2 ti-sm"></i>
                                            <span class="align-middle">Çıkış Yap</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl">
                            <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                                <div>
                                    ©
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>
                                    <a href="https://makrokod.com" target="_blank" class="fw-medium">Makrokod</a> Tarafından ❤️ ile yapıldı
                                </div>

                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/theme/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/theme/assets/vendor/libs/popper/popper.js"></script>
    <script src="/theme/assets/vendor/js/bootstrap.js"></script>
    <script src="/theme/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/theme/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="/theme/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="/theme/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/theme/assets/vendor/js/helpers.js"></script>
    <script src="/theme/assets/js/config.js"></script>
    <!--Datatables-->
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />

    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>


    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>




<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ],
            responsive: true,
            scrollX: true,
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Herhangi bir sonuç bulunamadı",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: {
                        _: "Panoya %d satır kopyalandı",
                        1: "Panoya 1 satır kopyalandı"
                    }
                }
            }
        });
    });
</script>

@* Sweet Alet Alanı başlangıç*@

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var title = "";
            var icon = "info";

            switch ("@TempData["Message"]") {
                case "add":
                    title = "Kayıt Eklendi";
                    icon = "success";
                    break;

                case "duplicate":
                    title = "Bu kayıt sistemde var";
                    icon = "info";
                    break;

                case "error":
                    title = "Bir Hata Oluştu Lüften Kontrol Ederek Tekrar Deneyin";
                    icon = "error";
                    break;

                case "maxfile":
                    title = "En fazla 5 görsel yükleyebilirsiniz";
                    icon = "error";
                    break;
                case "delete":
                    title = "Kayıt Silindi";
                    icon = "warning";
                    break;

                case "update":
                    title = "Kayıt Güncellendi";
                    icon = "success";
                    break;
            }

            Swal.fire({
                title: title,
        @*                 text: '@TempData["Message"]', *@
                icon: icon
                                                            });
                                                        };
    </script>
}

@if (TempData["ValidationErrors"] != null)
{
    <script>
        $(document).ready(function () {

            {
                var validationErrors = @Html.Raw(Json.Serialize(TempData["ValidationErrors"]));

                if (validationErrors.length > 0) {
                    var errorList = '<ul>';
                    for (var i = 0; i < validationErrors.length; i++) {
                        errorList += '<li id="errormessage">' + validationErrors[i] + '</li>';
                    }
                    errorList += '</ul>';

                    Swal.fire({
                        icon: 'error',
                        title: 'Hata!',
                        html: errorList,
                    });
                }
            }
        });
    </script>
}

@* Sweet Alet Alanı bitiş*@


