html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*_admin Layout sweet alert start*/
h2#swal2-title {
    font-size: revert-layer;
}

/*_admin Layout sweet alert end*/


li#errormessage {
    list-style: none;
}

/* CSS used here will be applied after bootstrap.css */
.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}

.gallery-title {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px dotted orange;
    margin-top: 1em;
}



.add-button-top {
    text-align: left; /* Varsayýlan olarak sol hizalama */
}

@media (max-width: 768px) {
    .add-button-top {
        text-align: center; /* Ekran geniþliði 768px'e kadar olan cihazlarda metni ortala */
    }
}

/* styles.css */

/* Loader container */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Arkaplan rengi ve opaklýk */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Diðer elementlerin üstünde olmasý için yüksek bir z-index deðeri */
}

/* Loader animation */
.loader {
    border: 6px solid #f3f3f3; /* Loader halka rengi */
    border-top: 6px solid #3498db; /* Loader animasyon rengi */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Loader dönme animasyonu */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Content area */
.content {
    display: none; /* Loader aktifken içerik gizli olacak */
}

/* Loader aktifken içeriðin görünmemesi için */
.loader-active .content {
    display: block;
}


.image-container {
    width: 150px; /* Ýstenilen geniþlik */
    height: 40px; /* Ýstenilen yükseklik */
    overflow: hidden; /* Görüntünün sýnýrlarý içinde kalmasýný saðlar */
}

.image-container img {
    width: 100%; /* Görüntüyü container'ýn geniþliðine sýðdýrýr */
    height: auto; /* Orantýlý olarak yüksekliði ayarlar */
    display: block; /* Görüntüyü blok element olarak ayarlar */
}


