
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Yetkisiz Giriş Denemesi Yöneticinize başvurunuz</h1>
</head>
<body>
</body>
</html>
