@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/Theme/assets/"
      data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Makrokod CRM - Login</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/Theme/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="/Theme/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/Theme/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/Theme/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/Theme/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="/Theme/assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="/Theme/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/Theme/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/Theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/Theme/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="/Theme/assets/vendor/libs/form-validation/umd/styles/index.min.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/Theme/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="/Theme/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/Theme/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="authentication-wrapper authentication-cover authentication-bg">
        <div class="authentication-inner row">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 p-0">
                <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                    <img style="width:350px" src="~/theme/assets/img/mainloginregisterimg.png" />
                </div>
            </div>
            <!-- /Left Text -->
            <!-- Login -->
            <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
                <div class="w-px-400 mx-auto">
                    <!-- Logo -->
                    <!-- /Logo -->
                   

                    <form id="formAuthentication" class="mb-3" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   asp-for="Email"
                                   autofocus />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label">Parola</label>
                            <div class="input-group input-group-merge">

                                <input type="password"
                                       id="pass"
                                       class="form-control"
                                       asp-for="Password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                           
                        </div>
                        <button class="btn btn-primary d-grid w-100">Giriş</button>
                    </form>

                    
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/Theme/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/Theme/assets/vendor/libs/popper/popper.js"></script>
    <script src="/Theme/assets/vendor/js/bootstrap.js"></script>
    <script src="/Theme/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/Theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Theme/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="/Theme/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="/Theme/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/Theme/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="/Theme/assets/vendor/libs/form-validation/umd/bundle/popular.min.js"></script>
    <script src="/Theme/assets/vendor/libs/form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="/Theme/assets/vendor/libs/form-validation/umd/plugin-auto-focus/index.min.js"></script>

    <!-- Main JS -->
    <script src="/Theme/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/Theme/assets/js/pages-auth.js"></script>
</body>
</html>




<script>
    $(function () {

        if (localStorage.chkbx && localStorage.chkbx != '') {
            $('#remember_me').attr('checked', 'checked');
            $('#username').val(localStorage.usrname);
            $('#pass').val(localStorage.pass);
        } else {
            $('#remember_me').removeAttr('checked');
            $('#username').val('');
            $('#pass').val('');
        }

        $('#remember_me').click(function () {

            if ($('#remember_me').is(':checked')) {
                // save username and password
                localStorage.usrname = $('#username').val();
                localStorage.pass = $('#pass').val();
                localStorage.chkbx = $('#remember_me').val();
            } else {
                localStorage.usrname = '';
                localStorage.pass = '';
                localStorage.chkbx = '';
            }
        });
    });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    // $(document).ready(function () {
    //     // Form submit edildiğinde
    //     $('#formAuthentication').submit(function (event) {
    //         // Form bilgilerini al
    //         var email = $('#username').val();

    //         // Çerez oluştur
    //         createCookie("Email", email, 30); // 30 gün süreyle geçerli olan "Email" çerezi oluştur

    //         // Formun sunucuya gönderilmesini sağla
    //         return true;
    //     });
    // });

    // Çerez oluşturma fonksiyonu
    // function createCookie(name, value, days) {
    //     var expires = "";
    //     if (days) {
    //         var date = new Date();
    //         date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    //         expires = "; expires=" + date.toUTCString();
    //     }
    //     document.cookie = name + "=" + value + expires + "; path=/";
    // }
</script>
<script>
    // Sayfa yüklendiğinde çalışacak işlev
    // window.onload = function () {
    //     // Çerez var mı kontrol et
    //     if (getCookie("Email")) {
    //         // Çerezi sil
    //         document.cookie = "Email=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    //     }
    // }

    // Belirli bir çerezin değerini alma işlevi
    // function getCookie(name) {
    //     var nameEQ = name + "=";
    //     var ca = document.cookie.split(';');
    //     for (var i = 0; i < ca.length; i++) {
    //         var c = ca[i];
    //         while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    //         if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    //     }
    //     return null;
    // }
</script>